html *
{
font-family: "Helvetica Neue";
}

#headerDiv, #contentDiv {
float: left;
*width: 510px;/
}
#titleText {
float: left;
font-size: 1.1em;
font-weight: bold;
margin: 5px;
}
#header {
font-size: 1.1em;
font-weight: bold;
margin: 5px;
}
#headerDiv {
background-color: #0037DB;
color: #9EB6FF;
}
#contentDiv {
background-color: #FFFFFF;
}
#content {
margin: 5px 10px;
}
#headerDiv a {
float: right;
margin: 10px 10px 5px 5px;
}
#headerDiv a:hover {
color: #FFFFFF;
}
#headerDiv a:link {
	color: #FFFFFF;
	text-decoration: none;
};